:root {
    --color-light-grey:#ccc;
    --font-body: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --color-background: azure;
    --color: #fff;
    box-sizing: border-box;
    -webkit-margin-collapse: collapse;
}
.header {
    background-color: MediumSeaGreen(0, 128, 90);
    background-clip: border-box;
    margin: 3;
    padding: 5px;
    border: 2px solid mediumseagreen ;
}
html, body {
    margin: 0%;
    padding: 0;
    font-family: var(--font-boady);
    background-color: var(--color-background);
}
.column {
    float: left;
    padding: 10px;
}
.column.side {
    width: 25%;
}
.column.middle {
    width: 50%;
}
.menu{
    padding: 0;
    margin: 0;
}
.row::after {
content: "";
display: table;
clear: both;
}
/* ul>li {
    display: block;
    list-style: none;
    text-decoration: none;
} */
li {
    margin: 5px;
    padding: auto;
    border: 5px solid var(--color-light-grey);
    border-radius: 5px;
    background-color: #ccc ;
    text-align: left;
    list-style: none;
    color: azure;
    
}
li a:link {
    text-decoration: none;
    background-color: none;
    color: #000;
}
li a:visited {
    text-decoration: none;
    background-color: none;
    color: #000;
}
li a:active {
    text-decoration: none;
    background-color: MediumSeaGreen(0, 128, 90);
    color: var(--color);
}
li a:hover {
    text-decoration: none;
    background-color: var(--color-background);
    color: #000;
}
.sidebar {
    padding: 5px 8px 20px 5px;
    margin: auto;
    max-width: 50%;
    border: solid 1px #1e90ff;
    background-color: #1e90ff;
    color: var(--color);
}
footer {
    margin: 3em 0;
    padding: 1em;
    background-color: var(--color-light-grey);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align-last: center;
    font-size: 16px;
}
@media screen and (max-width: 960px) {
.column.side, .column.middle {
        width: 100%;
    }
}
/* }
@media (min-width: 960px) {
    section {
        display: flex;
        flex-direction: column;
    }

    div {
        display: block;
        flex-basis: 0;
        flex-shrink: 1;
        padding: 0.75rem;
    }
    .article {
        flex: 2;
        padding: 5px;
    }
    .menu,.sidebar {
        flex: 1;
        display: block;
    }
} */